<div class="bulletin-board bulletin-background" [class.small]="handSet" [class.large]="!handSet" [class.auth]="auth.state.isLoggedIn">
  <div fxFlex fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">
    <img src="/assets/images/logos/logo-{{ logoSize }}.png" />
    <h1 class="headline">{{ 'APP.HEADLINE' | translate }}</h1>
    <h3 class="message">{{ 'APP.SUB_HEADLINE' | translate }}</h3>
    <button mat-raised-button *ngIf="!auth.state.isLoggedIn" (click)="auth.goTo(layout.auth.authUrls.loginUrl)">
      {{ 'COMMON.GET_STARTED' | translate }}
    </button>
  </div>
</div>

<div class="fs-promo">
  <div fxLayoutGap="24px" fxLayout="column" fxLayoutAlign="center">
    <div
      *ngFor="let pitch of pitchList; let even = even"
      fxLayout="column"
      fxLayout.gt-xs="row"
      fxLayoutGap="20px"
      fxLayoutAlign="space-evenly center"
      class="row"
    >
      <div fxFlex="calc(50% - 8px)" fxFlex.xs="calc(33% - 8px)" class="pitch" [fxFlexOrder.gt-xs]="even ? '1' : '2'" ngClass.xm="small">
        <h3 class="title">{{ pitch.title | translate }}</h3>
        <p class="description">{{ pitch.description | translate }}</p>
      </div>
      <div
        fxFlex="calc(50% - 8px)"
        fxFlex.xs="calc(33% - 8px)"
        fxLayoutAlign="center"
        [fxLayoutAlign.gt-xs]="even ? 'end center' : 'start center'"
        class="image"
        [fxFlexOrder.gt-xs]="even ? '2' : '1'"
      >
        <img src="{{ pitch.image }}" alt="{{ pitch.title | translate }}" />
      </div>
    </div>
  </div>
</div>
