<mat-toolbar class="fs-page-header" color="primary"> </mat-toolbar>
<div class="fs-page-content">
  <fullerstack-card
    class="fs-page-card"
    fxLayout="column"
    fxFlex.xs="100"
    fxFlex.sm="80"
    fxFlex.gt-sm="600px"
    [title]="title"
    [subtitle]="subtitle"
    [icon]="icon"
    [progress]="progress.state$ | async"
  >
    <form [formGroup]="form" (submit)="submit()" fxLayout="column" autocomplete="off">
      <mat-form-field>
        <mat-icon matSuffix svgIcon="email"></mat-icon>
        <input matInput type="email" formControlName="email" placeholder="{{ 'COMMON.EMAIL' | translate }}" autofocus />
        <mat-error errorDirective [control]="form?.controls?.email" [isTouched]="form?.controls?.email?.touched"></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-icon matSuffix svgIcon="key-variant"></mat-icon>
        <input matInput type="password" formControlName="password" placeholder="{{ 'COMMON.PASSWORD' | translate }}" />
        <mat-error errorDirective [control]="form?.controls?.password" [isTouched]="form?.controls?.password?.touched"></mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="10px" class="pt0_5">
        <button mat-raised-button type="submit" color="primary" [disabled]="!form?.valid || form?.pristine">
          {{ 'COMMON.LOGIN' | translate }}
        </button>
        <div *ngIf="auth.msg.isError && auth.msg.text" class="form-status" fxLayout="row" fxLayoutGap="10px">
          <mat-icon color="warn" svgIcon="alert"></mat-icon>
          <span>{{ auth.msg.text | translate }}!</span>
        </div>
      </div>
    </form>

    <mat-divider class="mt1"></mat-divider>

    <div class="mt2" fxLayout="row">
      <span>
        [
        <a routerLink="/auth/signup" class="no-underline"> {{ 'COMMON.SIGNUP' | translate }} </a>
        ]
      </span>
      <div fxFlex></div>
      <span>
        [
        <a routerLink="/auth/password/reset/request" class="no-underline"> {{ 'COMMON.FORGOT_PASSWORD' | translate }} </a>
        ]
      </span>
    </div>
  </fullerstack-card>
</div>
