<mat-toolbar class="fs-page-header" color="primary"> </mat-toolbar>
<div class="fs-page-content">
  <fullerstack-card
    class="fs-page-card"
    fxLayout="column"
    fxFlex.xs="100"
    fxFlex.sm="80"
    fxFlex.gt-sm="600px"
    [title]="title"
    [subtitle]="subtitle"
    [icon]="icon"
    [progress]="progress.state$ | async"
  >
    <form *ngIf="!submitSuccess" [formGroup]="form" (submit)="submit()" fxLayout="column">
      <mat-form-field *ngIf="!auth.state.isLoggedIn">
        <mat-icon matSuffix svgIcon="account"></mat-icon>
        <input matInput formControlName="name" placeholder="{{ 'COMMON.NAME' | translate }}" />
        <mat-error errorDirective [touched]="form?.controls?.name.touched" [control]="form?.controls?.name"></mat-error>
        <mat-hint align="end">{{ 'COMMON.HINT.MESSAGE.NAME' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="!auth.state.isLoggedIn">
        <mat-icon matSuffix svgIcon="email"></mat-icon>
        <input matInput formControlName="email" placeholder="{{ 'COMMON.EMAIL' | translate }}" />
        <mat-error errorDirective [touched]="form?.controls?.email.touched" [control]="form?.controls?.email"></mat-error>
        <mat-hint align="end">{{ 'COMMON.HINT.MESSAGE.EMAIL' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-icon matSuffix svgIcon="key-variant"></mat-icon>
        <input matInput formControlName="subject" placeholder="{{ 'COMMON.SUBJECT' | translate }}" />
        <mat-error errorDirective [touched]="form?.controls?.subject.touched" [control]="form?.controls?.subject"></mat-error>
        <mat-hint align="end">{{ 'COMMON.HINT.MESSAGE.SUBJECT' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          matTextareaAutosize
          matAutosizeMinRows="4"
          formControlName="message"
          placeholder="{{ 'COMMON.MESSAGE' | translate }}"
        ></textarea>
        <mat-hint align="end">{{ 'COMMON.HINT.MESSAGE.DETAIL' | translate }}</mat-hint>
        <mat-error align="end" errorDirective [touched]="form?.controls?.message.touched" [control]="form?.controls?.message"></mat-error>
      </mat-form-field>

      <div fxLayout fxLayoutGap="10px" class="pt0_5">
        <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid || form.pristine">
          {{ 'COMMON.SEND_MESSAGE' | translate }}
        </button>
      </div>

      <fullerstack-blob
        class="mt1"
        *ngIf="msg.isWarn(msg.status) && !submitSuccess"
        [color]="msg.status.color"
        [text]="msg.status.text"
      ></fullerstack-blob>
    </form>

    <fullerstack-blob
      *ngIf="submitSuccess"
      class="mt1"
      text="{{ status.message | translate }}. {{ user.state.email }}"
      icon="check-circle-outline"
      iconColor="green"
    >
    </fullerstack-blob>
  </fullerstack-card>
</div>
