{
  "singleQuote": true,
  "overrides": [
    {
      "files": "**/*.js",
      "options": {
        "printWidth": 100
      }
    },
    {
      "files": "**/*.ts",
      "options": {
        "printWidth": 100
      }
    },
    {
      "files": "**/*.tsx",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "**/*.html",
      "options": {
        "printWidth": 140
      }
    },
    {
      "files": "**/*.json",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
