
# Rename to `.env` and place at root level of this repository - and ensure it is not under source control

# Database info
DATABASE_URL="postgresql://<dbuser>:<dbuser-password>@localhost:5432/<dbname>?schema=public"
#DATABASE_URL="file:../../../../dev.db"


# Security

# Site secret key - (change during a security breach ONLY - then restart server - all servers must have same key)
SITE_SEEKRET_KEY = "asdfqjtourqg0ydsfbasndfqh34f08yq305rghsgfh"

# AUTH secret key - Used to issue JWT (change during a security breach - then restart server)
AUTH_SEEKRET_KEY = "asdfqjtourqg0jwtydsfbasndfqh34f08yq305rghsgfh"

# Changes the superuser password (change during a security breach - then restart server)
# If user doesn't exist, it will be created, if it exists it will be updated with new password
# This is handy if your superuser is compromised internally or externally
AUTH_SUPERUSER_EMAIL = "superuser@example.com"
AUTH_SUPERUSER_PASSWORD = "some-good-password"

# Outgoing mail settings
MAILER_SMTP_USERNAME = "smtp-account-username"
MAILER_SMTP_PASSWORD = "smtp-account-password"

# Azure Translators
# https://docs.microsoft.com/en-us/azure/cognitive-services/translator/quickstart-translator?tabs=nodejs#headers
AZURE_SUBSCRIPTION_KEY = "sub-key-azure-cognitive-translation"
AZURE_RESOURCE_LOCATION = "azure-region-or-location"
