<div
  class="bulletin-board bulletin-background flex justify-center"
  [class.small]="handSet"
  [class.large]="!handSet"
  [class.auth]="auth.state.isLoggedIn"
>
  <div>
    <div class="flex justify-center">
      <img class="" src="/assets/images/logos/logo-{{ logoSize }}.png" />
    </div>
    <h1 class="headline flex justify-center">{{ 'APP.HEADLINE' | translate }}</h1>
    <h3 class="message flex justify-center">{{ 'APP.SUB_HEADLINE' | translate }}</h3>
    <div class="flex justify-center">
      <button mat-raised-button *ngIf="!auth.state.isLoggedIn" (click)="auth.goTo(layout.auth.authUrls.loginUrl)">
        {{ 'COMMON.GET_STARTED' | translate }}
      </button>
    </div>
  </div>
</div>

<div class="fs-promo">
  <div class="flex-col gap-[24px] justify-center">
    <div *ngFor="let pitch of pitchList; let even = even">
      <div
        [ngClass]="{
          'md:flex-reverse': even,
          'md:flex-row-reverse': !even
        }"
        class="mb-3 sm:max-sm:flex-col md:flex gap-[20px] justify-evenly"
      >
        <div class="pitch md:w-1/2">
          <h3 class="title">{{ pitch.title | translate }}</h3>
          <p class="description">{{ pitch.description | translate }}</p>
        </div>
        <div class="image md:w-1/2">
          <img src="{{ pitch.image }}" alt="{{ pitch.title | translate }}" />
        </div>
      </div>
    </div>
  </div>
</div>
