<mat-toolbar class="fs-page-header" color="primary"> </mat-toolbar>
<div class="fs-page-content">
  <fullerstack-card
    class="fs-page-card"
    fxLayout="column"
    fxFlex.xs="100"
    fxFlex.sm="80"
    fxFlex.gt-sm="600px"
    [title]="title"
    [subtitle]="subtitle"
    [icon]="icon"
    [progress]="progress.state$ | async"
  >
    <fullerstack-blob
      *ngIf="status.ok"
      class="mt1"
      text="{{ status.message | translate }}. {{ user.state.email }}"
      icon="check-circle-outline"
      iconColor="green"
    >
    </fullerstack-blob>

    <fullerstack-blob *ngIf="!status.ok" class="mt1" text="{{ status.message | translate }}." icon="alert-circle" iconColor="red">
    </fullerstack-blob>

    <mat-divider class="mt1"></mat-divider>

    <div *ngIf="auth.state.isLoggedIn" class="mt2" fxLayout="row">
      <span>
        [
        <a routerLink="/user/profile/update" class="no-underline"> {{ 'COMMON.PROFILE' | translate }} </a>
        ]
      </span>
      <div fxFlex></div>
      <span>
        [
        <a routerLink="/" class="no-underline"> {{ 'COMMON.HOME' | translate }} </a>
        ]
      </span>
    </div>

    <div *ngIf="!auth.state.isLoggedIn" class="mt2" fxLayout="row">
      <span>
        [
        <a routerLink="/auth/login" class="no-underline"> {{ 'COMMON.LOGIN' | translate }} </a>
        ]
      </span>
      <div fxFlex></div>
      <span>
        [
        <a routerLink="/auth/signup" class="no-underline"> {{ 'COMMON.SIGNUP' | translate }} </a>
        ]
      </span>
    </div>
  </fullerstack-card>
</div>
