<mat-toolbar class="fs-page-header" color="primary"> </mat-toolbar>
<div class="fs-page-content">
  <fullerstack-card
    class="fs-page-card"
    fxLayout="column"
    fxFlex.xs="100"
    fxFlex.sm="80"
    fxFlex.gt-sm="600px"
    [title]="title"
    [subtitle]="subtitle"
    [icon]="icon"
    [progress]="progress.state$ | async"
  >
    <form [formGroup]="form" (submit)="submit()" fxLayout="column" autoCompleteOff autocomplete="off">
      <mat-form-field>
        <mat-icon matSuffix svgIcon="email"></mat-icon>
        <input matInput type="email" formControlName="email" placeholder="{{ 'COMMON.EMAIL' | translate }}" />
        <mat-hint align="end">{{ 'CONFIRM.ACCOUNT_EMAIL' | translate }}</mat-hint>
        <mat-error errorDirective [control]="form?.controls?.email" [isTouched]="form?.controls?.email?.touched"></mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="10px" class="pt0_5">
        <button mat-raised-button type="submit" color="primary" [disabled]="!form?.valid || form?.pristine" class="button-30p">
          {{ 'COMMON.PASSWORD.RESET_REQUEST' | translate }}
        </button>
        <div *ngIf="!status.ok" class="form-status" fxLayout="row" fxLayoutGap="10px">
          <mat-icon color="warn" svgIcon="alert"></mat-icon>
          <span>{{ status.message | translate }}!</span>
        </div>
      </div>

      <fullerstack-blob
        *ngIf="form?.disabled"
        class="mt1"
        text="{{ 'INFO.PASSWORD.RESET_SUCCESS' | translate }}."
        icon="check-circle-outline"
        iconColor="green"
      >
      </fullerstack-blob>
    </form>

    <mat-divider class="mt1"></mat-divider>

    <div class="mt2" fxLayout="row">
      <span>
        [
        <a routerLink="/auth/login" class="no-underline"> {{ 'COMMON.LOGIN' | translate }} </a>
        ]
      </span>
      <div fxFlex></div>
      <span>
        [
        <a routerLink="/auth/signup" class="no-underline"> {{ 'COMMON.SIGNUP' | translate }} </a>
        ]
      </span>
    </div>
  </fullerstack-card>
</div>
