<mat-toolbar class="fs-page-header" color="primary"> </mat-toolbar>
<div class="fs-page-content">
  <fullerstack-card
    class="fs-page-card"
    fxLayout="column"
    fxFlex.xs="100"
    fxFlex.sm="80"
    fxFlex.gt-sm="600px"
    [title]="title"
    [subtitle]="subtitle"
    [icon]="icon"
    [progress]="progress.state$ | async"
  >
    <form *ngIf="resetLinkValid" [formGroup]="form" (submit)="submit()" fxLayout="column" autoCompleteOff autocomplete="off">
      <mat-form-field>
        <mat-icon matSuffix svgIcon="key"></mat-icon>
        <input [required]="true" matInput type="password" formControlName="password" placeholder="{{ 'COMMON.PASSWORD' | translate }}" />
        <mat-error errorDirective [control]="form?.controls?.password" [isTouched]="form?.controls?.password?.touched"></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-icon matSuffix svgIcon="key-change"></mat-icon>
        <input
          [required]="true"
          matInput
          type="password"
          formControlName="passwordConfirmation"
          placeholder="{{ 'COMMON.PASSWORD_CONFIRMATION' | translate }}"
        />
        <mat-error
          errorDirective
          [control]="form?.controls?.passwordConfirmation"
          [isTouched]="form?.controls?.passwordConfirmation?.touched"
        ></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-icon matSuffix svgIcon="account-group"></mat-icon>
        <mat-select placeholder="{{ 'COMMON.SESSION_RESET' | translate }}" formControlName="resetOtherSessions">
          <mat-option
            *ngFor="let action of sessionResetMapping"
            class="hoverable-item"
            [value]="action.reset"
            style="line-height: 26px; height: 36px"
          >
            {{ action.name | translate }}
          </mat-option>
        </mat-select>
        <mat-hint align="end">{{ 'COMMON.ACTIVE_SESSIONS_RESET' | translate }}</mat-hint>
        <mat-error
          errorDirective
          [control]="form?.controls?.resetOtherSessions"
          [isTouched]="form?.controls?.resetOtherSessions?.touched"
        ></mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="10px" class="pt0_5">
        <button mat-raised-button type="submit" color="primary" [disabled]="!form?.valid || form?.pristine" class="button-30p">
          {{ 'COMMON.PASSWORD_CHANGE' | translate }}
        </button>
        <div *ngIf="!status.ok" class="form-status" fxLayout="row" fxLayoutGap="10px">
          <mat-icon color="warn" svgIcon="alert"></mat-icon>
          <span>{{ status.message | translate }}!</span>
        </div>
      </div>
    </form>

    <fullerstack-blob
      *ngIf="form?.disabled"
      class="mt1"
      text="{{ status.message | translate }}."
      icon="check-circle-outline"
      iconColor="green"
    >
    </fullerstack-blob>

    <fullerstack-blob
      *ngIf="!resetLinkValid"
      class="mt1"
      text="{{ status.message | translate }}."
      icon="check-circle-outline"
      iconColor="red"
    >
    </fullerstack-blob>

    <mat-divider class="mt1"></mat-divider>

    <div class="mt2" fxLayout="row">
      <span>
        [
        <a routerLink="/auth/login" class="no-underline"> {{ 'COMMON.LOGIN' | translate }} </a>
        ]
      </span>
      <div fxFlex></div>
      <span>
        [
        <a routerLink="/auth/signup" class="no-underline"> {{ 'COMMON.SIGNUP' | translate }} </a>
        ]
      </span>
    </div>
  </fullerstack-card>
</div>
