<mat-toolbar class="fs-page-header" color="primary"> </mat-toolbar>
<div class="fs-page-content">
  <fullerstack-card
    class="fs-page-card"
    fxLayout="column"
    fxFlex.xs="100"
    fxFlex.sm="80"
    fxFlex.gt-sm="600px"
    [title]="title"
    [subtitle]="subtitle"
    [icon]="icon"
    [progress]="auth.state.isLoading"
  >
    <fullerstack-login-form (submit$)="login($event)" fxLayout="column"></fullerstack-login-form>

    <mat-divider class="mt1"></mat-divider>

    <div class="mt2" fxLayout="row">
      <span>
        [
        <a routerLink="/auth/register" class="no-underline"> {{ 'COMMON.REGISTER' | translate }} </a>
        ]
      </span>
      <div fxFlex></div>
      <span>
        [
        <a routerLink="/recovery/password/reset" class="no-underline"> {{ 'COMMON.FORGOT_PASSWORD' | translate }} </a>
        ]
      </span>
    </div>
  </fullerstack-card>
</div>
