<mat-toolbar class="fs-page-header" color="primary"> </mat-toolbar>
<div class="flex justify-center min-h-[70vh] px-2">
  <fullerstack-card
    class="-m-[83px] w-full sm:w-[90vw] md:w-[80vw] lg:w-[50vw]"
    [title]="title"
    [subtitle]="subtitle"
    [icon]="icon"
    [progress]="progress.state$ | async"
  >
    <form class="flex-col" [formGroup]="form" (submit)="submit()" autoCompleteOff autocomplete="off">
      <mat-form-field class="flex w-full">
        <mat-icon matSuffix svgIcon="lock-open"></mat-icon>
        <input matInput type="password" formControlName="oldPassword" placeholder="{{ 'CONFIRM.CURRENT_PASSWORD' | translate }}" />
        <mat-hint align="end">{{ 'CONFIRM.CURRENT_PASSWORD' | translate }}</mat-hint>
        <mat-error errorDirective [control]="form?.controls?.oldPassword" [isTouched]="form?.controls?.oldPassword?.touched"></mat-error>
      </mat-form-field>

      <mat-form-field class="flex w-full">
        <mat-icon matSuffix svgIcon="key"></mat-icon>
        <input
          [required]="true"
          matInput
          type="password"
          formControlName="password"
          placeholder="{{ 'COMMON.PASSWORD_NEW' | translate }}"
        />
        <mat-error errorDirective [control]="form?.controls?.password" [isTouched]="form?.controls?.password?.touched"></mat-error>
      </mat-form-field>

      <mat-form-field class="flex w-full">
        <mat-icon matSuffix svgIcon="key-change"></mat-icon>
        <input
          [required]="true"
          matInput
          type="password"
          formControlName="passwordConfirmation"
          placeholder="{{ 'COMMON.PASSWORD_CONFIRMATION' | translate }}"
        />
        <mat-error
          errorDirective
          [control]="form?.controls?.passwordConfirmation"
          [isTouched]="form?.controls?.passwordConfirmation?.touched"
        ></mat-error>
      </mat-form-field>

      <mat-form-field class="flex w-full">
        <mat-icon matSuffix svgIcon="account-group"></mat-icon>
        <mat-select placeholder="{{ 'COMMON.SESSION_RESET' | translate }}" formControlName="resetOtherSessions">
          <mat-option
            *ngFor="let action of sessionResetMapping"
            class="hoverable-item"
            [value]="action.reset"
            style="line-height: 26px; height: 36px"
          >
            {{ action.name | translate }}
          </mat-option>
        </mat-select>
        <mat-hint align="end">{{ 'INFO.ACTIVE_SESSIONS_RESET' | translate }}</mat-hint>
      </mat-form-field>

      <div class="flex pt-0 pb-4 gap-3 justify-start">
        <button mat-raised-button type="submit" color="primary" [disabled]="!form?.valid || form?.pristine" class="button-30p">
          {{ 'COMMON.PASSWORD_CHANGE' | translate }}
        </button>
        <div *ngIf="form?.disabled && status.ok" class="flex gap-2 mt-[5px]">
          <mat-icon color="green" svgIcon="check-circle-outline"></mat-icon>
          <span>{{ status.message | translate }}!</span>
        </div>
        <div *ngIf="!form?.disabled && !status.ok" class="flex gap-2 mt-[5px]">
          <mat-icon color="warn" svgIcon="alert"></mat-icon>
          <span>{{ status.message | translate }}!</span>
        </div>
      </div>
    </form>

    <mat-divider class="mt-1"></mat-divider>

    <div class="flex justify-between mt-3">
      <span>
        [
        <a routerLink="/user/profile/update" class="no-underline"> {{ 'COMMON.PROFILE_UPDATE' | translate }} </a>
        ]
      </span>
      <span>
        [
        <a routerLink="/" class="no-underline"> {{ 'COMMON.HOME' | translate }} </a>
        ]
      </span>
    </div>
  </fullerstack-card>
</div>
