.bulletin-board.large {
  height: 480px;
  margin-top: 64px;
  img {
    margin-top: 15px;
    margin-bottom: -10px !important;
  }
  .headline {
    font-size: 2rem;
  }
  .message {
    font-size: 1.3rem;
  }
  button {
    margin-top: 22px;
  }
}

.bulletin-board.large.auth {
  height: 420px;
}

.bulletin-board.small {
  height: 340px;
  margin-top: 56px;
  img {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .headline {
    font-size: 1.1rem;
    margin-top: -10px;
  }
  .message {
    font-size: 0.9rem;
  }
  button {
    margin-top: 12px;
  }
}

.bulletin-board.small.auth {
  height: 290px;
}

.fs-promo {
  max-width: 1024px;
  margin: 9px auto;
  padding: 16px 15px 51px 15px;
}

.fs-promo .row {
  margin: 2px auto;
}

.image img {
  width: 102%;
  height: 100%;
}

.fs-promo .text {
  padding: 0 15px;
}

.title {
  font-size: 22px;
  margin-top: 10px;
  margin: 10px 0 16px 0;
  opacity: 0.87;
  line-height: 32px;
}

.description {
  margin: 0 0 16px 0;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.87;
  line-height: 28px;
  padding: 0;
}
