<mat-toolbar class="fs-page-header" color="primary"> </mat-toolbar>
<div class="flex justify-center min-h-[70vh] px-2">
  <fullerstack-card
    class="-m-[83px] w-full sm:w-[90vw] md:w-[80vw] lg:w-[50vw]"
    [title]="title"
    [subtitle]="subtitle"
    [icon]="icon"
    [progress]="progress.state$ | async"
  >
    <fullerstack-blob *ngIf="isUserVerified" text="{{ status | translate }}." icon="check-circle-outline" iconColor="green">
    </fullerstack-blob>

    <fullerstack-blob *ngIf="!isUserVerified" class="mt-0 color-warn" text="{{ status | translate }}." icon="alert-circle">
    </fullerstack-blob>

    <mat-divider class="mt-1"></mat-divider>

    <div *ngIf="!auth.state.isLoggedIn" class="flex justify-between mt-3">
      <span>
        [
        <a routerLink="/auth/login" class="no-underline"> {{ 'COMMON.LOGIN' | translate }} </a>
        ]
      </span>
      <span>
        [
        <a routerLink="/auth/password/reset/request" class="no-underline"> {{ 'COMMON.FORGOT_PASSWORD' | translate }} </a>
        ]
      </span>
    </div>

    <div *ngIf="auth.state.isLoggedIn" class="flex justify-between mt-3">
      <span>
        [
        <a routerLink="/user/profile/update" class="no-underline"> {{ 'COMMON.PROFILE' | translate }} </a>
        ]
      </span>
      <span>
        [
        <a routerLink="/" class="no-underline"> {{ 'COMMON.HOME' | translate }} </a>
        ]
      </span>
    </div>
  </fullerstack-card>
</div>
