<mat-toolbar class="fs-page-header" color="primary"> </mat-toolbar>
<div class="fs-page-content">
  <fullerstack-card
    class="fs-page-card"
    fxLayout="column"
    fxFlex.xs="100"
    fxFlex.sm="80"
    fxFlex.gt-sm="600px"
    [title]="title"
    [subtitle]="subtitle"
    [icon]="icon"
    [progress]="isLoading"
  >
    <fullerstack-blob class="mt1" text="{{ status.message | translate }}." icon="check-circle-outline" iconColor="green">
    </fullerstack-blob>

    <mat-divider class="mt1"></mat-divider>

    <div *ngIf="!auth.state.isLoggedIn" class="mt2" fxLayout="row">
      <span>
        [
        <a routerLink="/auth/login" class="no-underline"> {{ 'COMMON.LOGIN' | translate }} </a>
        ]
      </span>
      <div fxFlex></div>
      <span>
        [
        <a routerLink="/auth/signup" class="no-underline"> {{ 'COMMON.SIGNUP' | translate }} </a>
        ]
      </span>
    </div>
  </fullerstack-card>
</div>
