<mat-toolbar class="fs-page-header" color="primary"> </mat-toolbar>
<div class="flex justify-center min-h-[70vh] px-2">
  <fullerstack-card
    class="-m-[83px] w-full sm:w-[90vw] md:w-[80vw] lg:w-[50vw]"
    [title]="title"
    [subtitle]="subtitle"
    [icon]="icon"
    [progress]="progress.state$ | async"
  >
    <form [formGroup]="form" class="flex-col" autoCompleteOff autocomplete="off">
      <mat-form-field class="flex w-full">
        <mat-icon matSuffix svgIcon="translate"></mat-icon>
        <mat-select formControlName="language" placeholder="{{ 'COMMON.LANGUAGE' | translate }}" (ngModelChange)="onSelect()">
          <mat-option *ngFor="let iso of i18n.enabledLanguages" [value]="iso">
            {{ i18n.getLanguageName(iso) }}
          </mat-option>
        </mat-select>
        <mat-error errorDirective [control]="form?.controls?.language" [isTouched]="form?.controls?.language?.touched"></mat-error>
        <mat-hint align="end">{{ 'INFO.ACCOUNT_LANGUAGE' | translate }}</mat-hint>
      </mat-form-field>

      <div *ngIf="user.msg.isError && user.msg.text" class="flex pt-0 pb-4 gap-3 justify-start">
        <mat-icon color="warn" svgIcon="alert"></mat-icon>
        <span>{{ user.msg.text | translate }}!</span>
      </div>
      <div *ngIf="user.msg.isSuccess && user.msg.text" class="flex pt-0 pb-4 gap-3 justify-start">
        <mat-icon color="green" svgIcon="check-circle-outline"></mat-icon>
        <span>{{ user.msg.text | translate }}! ({{ i18n.getLanguageName(form?.controls?.language.value) }})</span>
      </div>
      <div *ngIf="!(user.msg.isSuccess || (user.msg.isError && user.msg.text))" class="flex pt-0 pb-4 gap-3 justify-start">
        <mat-icon color="blue" svgIcon="check-circle-outline"></mat-icon>
        <span>{{ 'INFO.ACCOUNT_LANGUAGE' | translate }} ({{ i18n.getLanguageName(form?.controls?.language.value) }})</span>
      </div>
    </form>

    <mat-divider class="mt-1"></mat-divider>

    <div class="flex justify-between mt-3">
      <span>
        [
        <a routerLink="/user/profile/update" class="no-underline"> {{ 'COMMON.PROFILE_UPDATE' | translate }} </a>
        ]
      </span>
      <span>
        [
        <a routerLink="/" class="no-underline"> {{ 'COMMON.HOME' | translate }} </a>
        ]
      </span>
    </div>
  </fullerstack-card>
</div>
