@import 'libs/agx-assets/src/lib/styles/material/dark-blue/themes';
@import 'libs/agx-assets/src/lib/styles/reset';
@import 'libs/agx-assets/src/lib/styles/site/site';
@import 'libs/agx-assets/src/lib/styles/site/options';
@import 'libs/agx-assets/src/lib/styles/site/menu';
@import 'libs/agx-assets/src/lib/styles/site/notify';
@import 'libs/agx-assets/src/lib/styles/site/navbar';
@import 'libs/agx-assets/src/lib/styles/site/toast';
@import 'libs/agx-assets/src/lib/styles/site/layout';
@import 'libs/agx-assets/src/lib/styles/site/home';
@import 'libs/agx-assets/src/lib/styles/site/footer';
@import 'libs/agx-assets/src/lib/styles/site/card';
@import 'libs/agx-assets/src/lib/styles/site/pages';
@import 'libs/agx-assets/src/lib/styles/utils/hints';
@import 'libs/agx-assets/src/lib/styles/utils/spacing';
@import 'libs/agx-assets/src/lib/styles/utils/status';
@import 'libs/agx-assets/src/lib/styles/utils/icons';
@import 'libs/agx-assets/src/lib/styles/utils/links';
@import 'libs/agx-assets/src/lib/styles/utils/forms';
@import 'libs/agx-assets/src/lib/styles/utils/text';
@import 'libs/agx-assets/src/lib/styles/utils/scroll';
@import 'libs/agx-assets/src/lib/styles/utils/misc';
@import 'libs/agx-assets/src/lib/styles/utils/lists';
@import 'libs/agx-assets/src/lib/styles/utils/debug';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica,
    Arial, 'Lucida Grande', sans-serif;
  padding: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

.annotation-canvas {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -webkit-overflow-scrolling: unset;
}

fullerstack-draw {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -webkit-overflow-scrolling: unset;
}
